h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;

}
p{
    color: aliceblue;
    font-size: 18px;
    margin-top: -16px;
    font-family: sans-serif;

}

img{ 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 70px;
    height: 150px;
    width: 150px;
}
body{
    background-size: cover;
    color: aliceblue;
    align: center;
}
a{
    color: rgb(1, 148, 99);
    
}
a:hover{
    color: red;
}